:root {
  --b-color-neutral-0: #fff;
  --b-color-neutral-50: #f8f9fa;
  --b-color-neutral-100: #f5f5f6;
  --b-color-neutral-200: #dedee2;
  --b-color-neutral-300: #c6c6cc;
  --b-color-neutral-400: #9d9ea4;
  --b-color-neutral-500: #797980;
  --b-color-neutral-600: #58585e;
  --b-color-neutral-700: #36363b;
  --b-color-neutral-800: #222225;
  --b-color-neutral-900: #18181a;
  --b-color-neutral-950: #101011;
  --b-color-neutral-1000: #000;
  --b-color-primary-50: #f5f6ff;
  --b-color-primary-100: #e6e8ff;
  --b-color-primary-200: #d9dbff;
  --b-color-primary-300: #bcbdff;
  --b-color-primary-400: #9d99ff;
  --b-color-primary-500: #7b66ff;
  --b-color-primary-600: #673de6;
  --b-color-primary-700: #471ea7;
  --b-color-primary-800: #331c74;
  --b-color-primary-900: #251951;
  --b-color-primary-950: #110c29;
  --b-color-meteorite-50: #f5f5ff;
  --b-color-meteorite-100: #eaeaff;
  --b-color-meteorite-200: #cbc8ff;
  --b-color-meteorite-300: #b6b2ff;
  --b-color-meteorite-400: #a19bff;
  --b-color-meteorite-500: #8c85ff;
  --b-color-light-blue-50: #fafbff;
  --b-color-light-blue-100: #f4f5ff;
  --b-color-light-blue-200: #d5dfff;
  --b-color-light-blue-300: #c3cce9;
  --b-color-light-blue-400: #b0b9d4;
  --b-color-light-blue-500: #888faa;
  --b-color-neon-500: #cf0;
  --b-color-neon-600: #bded00;
  --b-color-peridot-500: #0f0;
  --b-color-peridot-600: #20e052;
  --b-color-warning-50: #fdf6e8;
  --b-color-warning-100: #ffeec8;
  --b-color-warning-200: #ffe399;
  --b-color-warning-300: #ffd366;
  --b-color-warning-400: #ffbf1a;
  --b-color-warning-500: #e69800;
  --b-color-warning-600: #c46c00;
  --b-color-warning-700: #9b4600;
  --b-color-warning-800: #6b2c00;
  --b-color-warning-900: #4a1c00;
  --b-color-warning-950: #231000;
  --b-color-success-50: #f1f9f3;
  --b-color-success-100: #dcf8e3;
  --b-color-success-200: #b8f1c9;
  --b-color-success-300: #7ce5a2;
  --b-color-success-400: #3ccb7f;
  --b-color-success-500: #009e5b;
  --b-color-success-600: #007a49;
  --b-color-success-700: #005432;
  --b-color-success-800: #003d24;
  --b-color-success-900: #002e1a;
  --b-color-success-950: #01170b;
  --b-color-danger-50: #fff4f3;
  --b-color-danger-100: #ffeae9;
  --b-color-danger-200: #ffd5d3;
  --b-color-danger-300: #ffb5b3;
  --b-color-danger-400: #ff8381;
  --b-color-danger-500: #e73a47;
  --b-color-danger-600: #be1025;
  --b-color-danger-700: #870013;
  --b-color-danger-800: #610a0e;
  --b-color-danger-900: #45100f;
  --b-color-danger-950: #230706;
  --b-color-blue-50: #f3f7ff;
  --b-color-blue-100: #e8f0ff;
  --b-color-blue-200: #d3e1ff;
  --b-color-blue-300: #b3cbff;
  --b-color-blue-400: #83a7ff;
  --b-color-blue-500: #4c78ff;
  --b-color-blue-600: #3c5ae6;
  --b-color-blue-700: #2334a3;
  --b-color-blue-800: #1b2872;
  --b-color-blue-900: #16204f;
  --b-color-blue-950: #090f28;
  --b-gradient-ai: linear-gradient(-45deg, #e536db, var(--b-color-primary-600), #3ab0ff);
  --b-color-light-a0: #fff0;
  --b-color-light-a2: #ffffff05;
  --b-color-light-a5: #ffffff0d;
  --b-color-light-a10: #ffffff1a;
  --b-color-light-a15: #ffffff26;
  --b-color-light-a20: #fff3;
  --b-color-light-a25: #ffffff40;
  --b-color-light-a50: #ffffff80;
  --b-color-light-a75: #ffffffbf;
  --b-color-light-a80: #fffc;
  --b-color-light-a90: #ffffffe6;
  --b-color-dark-a0: #0000;
  --b-color-dark-a2: #00000005;
  --b-color-dark-a5: #0000000d;
  --b-color-dark-a10: #0000001a;
  --b-color-dark-a15: #00000026;
  --b-color-dark-a20: #0003;
  --b-color-dark-a25: #00000040;
  --b-color-dark-a50: #00000080;
  --b-color-dark-a75: #000000bf;
  --b-color-dark-a80: #000c;
  --b-color-dark-a90: #000000e6;
  --b-color-primary-a0: #7b66ff00;
  --b-color-primary-a2: #7b66ff05;
  --b-color-primary-a5: #7b66ff0d;
  --b-color-primary-a10: #7b66ff1a;
  --b-color-primary-a15: #7b66ff26;
  --b-color-primary-a20: #7b66ff33;
  --b-color-primary-a25: #7b66ff40;
  --b-color-primary-a50: #7b66ff80;
  --b-color-primary-a75: #7b66ffbf;
  --b-color-primary-a80: #7b66ffcc;
  --b-color-primary-a90: #7b66ffe6;
  --b-color-danger-a0: #e73a4700;
  --b-color-danger-a2: #e73a4705;
  --b-color-danger-a5: #e73a470d;
  --b-color-danger-a10: #e73a471a;
  --b-color-danger-a15: #e73a4726;
  --b-color-danger-a20: #e73a4733;
  --b-color-danger-a25: #e73a4740;
  --b-color-danger-a50: #e73a4780;
  --b-color-danger-a75: #e73a47bf;
  --b-color-danger-a80: #e73a47cc;
  --b-color-danger-a90: #e73a47e6;
  --b-color-warning-a0: #e6980000;
  --b-color-warning-a2: #e6980005;
  --b-color-warning-a5: #e698000d;
  --b-color-warning-a10: #e698001a;
  --b-color-warning-a15: #e6980026;
  --b-color-warning-a20: #e6980033;
  --b-color-warning-a25: #e6980040;
  --b-color-warning-a50: #e6980080;
  --b-color-warning-a75: #e69800bf;
  --b-color-warning-a80: #e69800cc;
  --b-color-warning-a90: #e69800e6;
  --b-color-success-a0: #009e5b00;
  --b-color-success-a2: #009e5b05;
  --b-color-success-a5: #009e5b0d;
  --b-color-success-a10: #009e5b1a;
  --b-color-success-a15: #009e5b26;
  --b-color-success-a20: #009e5b33;
  --b-color-success-a25: #009e5b40;
  --b-color-success-a50: #009e5b80;
  --b-color-success-a75: #009e5bbf;
  --b-color-success-a80: #009e5bcc;
  --b-color-success-a90: #009e5be6;
  --b-color-blue-a0: #4c78ff00;
  --b-color-blue-a2: #4c78ff05;
  --b-color-blue-a5: #4c78ff0d;
  --b-color-blue-a10: #4c78ff1a;
  --b-color-blue-a15: #4c78ff26;
  --b-color-blue-a20: #4c78ff33;
  --b-color-blue-a25: #4c78ff40;
  --b-color-blue-a50: #4c78ff80;
  --b-color-blue-a75: #4c78ffbf;
  --b-color-blue-a80: #4c78ffcc;
  --b-color-blue-a90: #4c78ffe6;
  --b-neutral--0: #fff;
  --b-neutral--50: #f8f9fa;
  --b-neutral--100: #f2f3f6;
  --b-neutral--200: #d8dae0;
  --b-neutral--300: #6d7081;
  --b-neutral--400: #3b3d4a;
  --b-neutral--500: #262831;
  --b-neutral--600: #1d1e20;
  --b-neutral--700: #161718;
  --b-neutral--800: #000;
  --b-primary--50: #f1ecff;
  --b-primary--100: #e2dbfc;
  --b-primary--200: #c5b8f8;
  --b-primary--300: #b39ef3;
  --b-primary--400: #7253ee;
  --b-primary--500: #673de6;
  --b-primary--600: #5025d1;
  --b-primary--700: #45209d;
  --b-primary--800: #2f1c6a;
  --b-primary--900: #261559;
  --b-primary--1000: #1f1346;
  --b-meteorite--50: #f5f5ff;
  --b-meteorite--100: #eaeaff;
  --b-meteorite--200: #cbc8ff;
  --b-meteorite--300: #b6b2ff;
  --b-meteorite--400: #a19bff;
  --b-meteorite--500: #8c85ff;
  --b-light-blue--50: #fafbff;
  --b-light-blue--100: #f4f5ff;
  --b-light-blue--200: #d5dfff;
  --b-light-blue--300: #c3cce9;
  --b-light-blue--400: #b0b9d4;
  --b-light-blue--500: #888faa;
  --b-danger--50: #fff3f7;
  --b-danger--100: #ffe8ef;
  --b-danger--200: #fea8c2;
  --b-danger--300: #fd8bad;
  --b-danger--400: #fc6e99;
  --b-danger--500: #fc5185;
  --b-danger--600: #d63163;
  --b-danger--700: #b22852;
  --b-warning--100: #fff8e2;
  --b-warning--200: #ffd28c;
  --b-warning--500: #ffcd35;
  --b-warning--600: #fea419;
  --b-warning--700: #9f6000;
  --b-success--100: #def4f0;
  --b-success--200: #80d8c8;
  --b-success--500: #00b090;
  --b-success--600: #008361;
  --b-neon--500: #cf0;
  --b-neon--600: #bded00;
  --b-peridot--500: #0f0;
  --b-peridot--600: #20e052;
  --b-niaga-primary: #007aff;
  --b-niaga-primary-dark: #002199;
  --b-niaga-primary-light: #e0efff;
  --b-niaga-primary-lightest: #ebf4ff;
  --b-niaga-primary-chart: #80bdff;
  --b-niaga-meteorite: #43ccff;
  --b-niaga-meteorite-dark: #01012e;
  --b-niaga-meteorite-light: #f5faff;
  --b-niaga-warning: #ff9800;
  --b-niaga-warning-dark: #ff5a00;
  --b-niaga-warning-chart: #ffcb80;
  --b-niaga-white-blue: #f5faff;
  --b-niaga-darken-light: #e0efff;
  --b-niaga-blue-dark: #265ab2;
  --b-z-index-base: 0;
  --b-z-index-sticky: 100;
  --b-z-index-sticky-dropdown: 200;
  --b-z-index-dropdown: 1000;
  --b-z-index-header: 1100;
  --b-z-index-header-dropdown: 1200;
  --b-z-index-modal: 2000;
  --b-z-index-modal-dropdown: 2100;
  --b-z-index-tooltip: 3000;
  --b-z-index-max: 9999;
  --b-scrollbar-thumb: var(--b-bg-neutral-surface-secondary);
  --b-scrollbar-thumb-hover: var(--b-color-neutral-400);
  --b-font-size-title-special: 80px;
  --b-line-height-title-special: 88px;
  --b-font-weight-title-special: 399;
  --b-letter-spacing-title-special: -.005em;
  --b-font-size-title-special-bold: 80px;
  --b-line-height-title-special-bold: 88px;
  --b-font-weight-title-special-bold: 599;
  --b-letter-spacing-title-special-bold: -.005em;
  --b-font-size-title-special-medium: 80px;
  --b-line-height-title-special-medium: 88px;
  --b-font-weight-title-special-medium: 499;
  --b-letter-spacing-title-special-medium: -.005em;
  --b-font-size-title-0: 56px;
  --b-line-height-title-0: 64px;
  --b-font-weight-title-0: 399;
  --b-letter-spacing-title-0: -.005em;
  --b-font-size-title-0-bold: 56px;
  --b-line-height-title-0-bold: 64px;
  --b-font-weight-title-0-bold: 599;
  --b-letter-spacing-title-0-bold: -.005em;
  --b-font-size-title-0-medium: 56px;
  --b-line-height-title-0-medium: 64px;
  --b-font-weight-title-0-medium: 499;
  --b-letter-spacing-title-0-medium: -.005em;
  --b-font-size-title-1: 48px;
  --b-line-height-title-1: 56px;
  --b-font-weight-title-1: 399;
  --b-letter-spacing-title-1: -.005em;
  --b-font-size-title-1-bold: 48px;
  --b-line-height-title-1-bold: 56px;
  --b-font-weight-title-1-bold: 599;
  --b-letter-spacing-title-1-bold: -.005em;
  --b-font-size-title-1-medium: 48px;
  --b-line-height-title-1-medium: 56px;
  --b-font-weight-title-1-medium: 499;
  --b-letter-spacing-title-1-medium: -.005em;
  --b-font-size-title-2: 36px;
  --b-line-height-title-2: 44px;
  --b-font-weight-title-2: 399;
  --b-letter-spacing-title-2: -.005em;
  --b-font-size-title-2-bold: 36px;
  --b-line-height-title-2-bold: 44px;
  --b-font-weight-title-2-bold: 599;
  --b-letter-spacing-title-2-bold: -.005em;
  --b-font-size-title-2-medium: 36px;
  --b-line-height-title-2-medium: 44px;
  --b-font-weight-title-2-medium: 499;
  --b-letter-spacing-title-2-medium: -.005em;
  --b-font-size-title-3: 32px;
  --b-line-height-title-3: 40px;
  --b-font-weight-title-3: 399;
  --b-letter-spacing-title-3: -.005em;
  --b-font-size-title-3-bold: 32px;
  --b-line-height-title-3-bold: 40px;
  --b-font-weight-title-3-bold: 599;
  --b-letter-spacing-title-3-bold: -.005em;
  --b-font-size-title-3-medium: 32px;
  --b-line-height-title-3-medium: 40px;
  --b-font-weight-title-3-medium: 499;
  --b-letter-spacing-title-3-medium: -.005em;
  --b-font-size-heading-1: 24px;
  --b-line-height-heading-1: 32px;
  --b-font-weight-heading-1: 599;
  --b-letter-spacing-heading-1: -.005em;
  --b-font-size-heading-1-regular: 24px;
  --b-line-height-heading-1-regular: 32px;
  --b-font-weight-heading-1-regular: 399;
  --b-letter-spacing-heading-1-regular: -.005em;
  --b-font-size-heading-1-medium: 24px;
  --b-line-height-heading-1-medium: 32px;
  --b-font-weight-heading-1-medium: 499;
  --b-letter-spacing-heading-1-medium: -.005em;
  --b-font-size-heading-2: 20px;
  --b-line-height-heading-2: 28px;
  --b-font-weight-heading-2: 599;
  --b-letter-spacing-heading-2: -.005em;
  --b-font-size-heading-2-regular: 20px;
  --b-line-height-heading-2-regular: 28px;
  --b-font-weight-heading-2-regular: 399;
  --b-letter-spacing-heading-2-regular: -.005em;
  --b-font-size-heading-2-medium: 20px;
  --b-line-height-heading-2-medium: 28px;
  --b-font-weight-heading-2-medium: 499;
  --b-letter-spacing-heading-2-medium: -.005em;
  --b-font-size-heading-3: 18px;
  --b-line-height-heading-3: 26px;
  --b-font-weight-heading-3: 599;
  --b-letter-spacing-heading-3: -.005em;
  --b-font-size-heading-3-regular: 18px;
  --b-line-height-heading-3-regular: 26px;
  --b-font-weight-heading-3-regular: 399;
  --b-letter-spacing-heading-3-regular: -.005em;
  --b-font-size-heading-3-medium: 18px;
  --b-line-height-heading-3-medium: 26px;
  --b-font-weight-heading-3-medium: 499;
  --b-letter-spacing-heading-3-medium: -.005em;
  --b-font-size-body-1: 16px;
  --b-line-height-body-1: 24px;
  --b-font-weight-body-1: 399;
  --b-letter-spacing-body-1: 0;
  --b-font-size-body-1-medium: 16px;
  --b-line-height-body-1-medium: 24px;
  --b-font-weight-body-1-medium: 499;
  --b-letter-spacing-body-1-medium: 0;
  --b-font-size-body-1-bold: 16px;
  --b-line-height-body-1-bold: 24px;
  --b-font-weight-body-1-bold: 599;
  --b-letter-spacing-body-1-bold: 0;
  --b-font-size-body-2: 14px;
  --b-line-height-body-2: 20px;
  --b-font-weight-body-2: 399;
  --b-letter-spacing-body-2: 0;
  --b-font-size-body-2-medium: 14px;
  --b-line-height-body-2-medium: 20px;
  --b-font-weight-body-2-medium: 499;
  --b-letter-spacing-body-2-medium: 0;
  --b-font-size-body-2-bold: 14px;
  --b-line-height-body-2-bold: 20px;
  --b-font-weight-body-2-bold: 599;
  --b-letter-spacing-body-2-bold: 0;
  --b-font-size-body-3: 12px;
  --b-line-height-body-3: 16px;
  --b-font-weight-body-3: 399;
  --b-letter-spacing-body-3: 0;
  --b-font-size-body-3-medium: 12px;
  --b-line-height-body-3-medium: 16px;
  --b-font-weight-body-3-medium: 499;
  --b-letter-spacing-body-3-medium: 0;
  --b-font-size-body-3-bold: 12px;
  --b-line-height-body-3-bold: 16px;
  --b-font-weight-body-3-bold: 599;
  --b-letter-spacing-body-3-bold: 0;
  --b-font-size-overline: 12px;
  --b-line-height-overline: 16px;
  --b-font-weight-overline: 699;
  --b-letter-spacing-overline: 0;
  --b-font-size-caption: 12px;
  --b-line-height-caption: 12px;
  --b-font-weight-caption: 399;
  --b-letter-spacing-caption: 0;
  --b-font-size-button-1: 16px;
  --b-line-height-button-1: 24px;
  --b-font-weight-button-1: 599;
  --b-letter-spacing-button-1: 0;
  --b-font-size-button-2: 14px;
  --b-line-height-button-2: 24px;
  --b-font-weight-button-2: 599;
  --b-letter-spacing-button-2: 0;
  --b-font-size-button-3: 14px;
  --b-line-height-button-3: 24px;
  --b-font-weight-button-3: 499;
  --b-letter-spacing-button-3: 0;
  --b-font-size-button-4: 12px;
  --b-line-height-button-4: 20px;
  --b-font-weight-button-4: 599;
  --b-letter-spacing-button-4: 0;
  --b-font-size-input: 14px;
  --b-line-height-input: 24px;
  --b-font-weight-input: 399;
  --b-letter-spacing-input: 0;
  --b-font-family: "DM Sans", Roboto, sans-serif;
  --b-font-weight-regular: 399;
  --b-font-weight-medium: 499;
  --b-font-weight-semibold: 599;
  --b-transition: 0.3s;
  --b-font-family-mono: "DM Mono", monospace;
  --b-font-size-mono-1: 16px;
  --b-line-height-mono-1: 24px;
  --b-font-weight-mono-1: 400;
  --b-letter-spacing-mono-1: 0;
  --b-font-size-mono-1-medium: 16px;
  --b-line-height-mono-1-medium: 24px;
  --b-font-weight-mono-1-medium: 500;
  --b-letter-spacing-mono-1-medium: 0;
  --b-font-size-mono-2: 14px;
  --b-line-height-mono-2: 20px;
  --b-font-weight-mono-2: 400;
  --b-letter-spacing-mono-2: 0;
  --b-font-size-mono-2-medium: 14px;
  --b-line-height-mono-2-medium: 20px;
  --b-font-weight-mono-2-medium: 500;
  --b-letter-spacing-mono-2-medium: 0;
  --b-font-size-mono-3: 12px;
  --b-line-height-mono-3: 16px;
  --b-font-weight-mono-3: 400;
  --b-letter-spacing-mono-3: 0;
  --b-font-size-mono-3-medium: 12px;
  --b-line-height-mono-3-medium: 16px;
  --b-font-weight-mono-3-medium: 500;
  --b-letter-spacing-mono-3-medium: 0;
  --b-font-size-mono: var(--b-font-size-mono-3-medium);
  --b-line-height-mono: var(--b-line-height-mono-3-medium);
  --b-font-weight-mono: var(--b-font-weight-mono-3-medium);
  --b-letter-spacing-mono: var(--b-letter-spacing-mono-3-medium);
  --b-font-size-mono-medium: var(--b-font-size-mono-2-medium);
  --b-line-height-mono-medium: var(--b-line-height-mono-2-medium);
  --b-font-weight-mono-medium: var(--b-font-weight-mono-2-medium);
  --b-letter-spacing-mono-medium: var(--b-letter-spacing-mono-2-medium);
  --b-font-size-mono-large: var(--b-font-size-mono-1-medium);
  --b-line-height-mono-large: var(--b-line-height-mono-1-medium);
  --b-font-weight-mono-large: var(--b-font-weight-mono-1-medium);
  --b-letter-spacing-mono-large: var(--b-letter-spacing-mono-1-medium);
  --b-border-radius-xs: 4px;
  --b-border-radius-sm: 8px;
  --b-border-radius-md: 12px;
  --b-border-radius-lg: 16px;
  --b-border-radius-lg-alt: 20px;
  --b-border-radius-xl: 24px;
  --b-border-radius-2xl: 32px;
  --b-border-radius-full: 999px;
  --b-spacing-4xs: 2px;
  --b-spacing-3xs: 4px;
  --b-spacing-2xs: 8px;
  --b-spacing-xs: 12px;
  --b-spacing-sm: 16px;
  --b-spacing-md-alt: 20px;
  --b-spacing-md: 24px;
  --b-spacing-lg: 32px;
  --b-spacing-xl: 40px;
  --b-spacing-2xl: 48px;
  --b-spacing-3xl: 64px;
  --b-spacing-4xl: 80px;
  --b-breakpoint-mobile: 992px;
  --b-z-index-1: 100;
  --b-z-index-2: 200;
  --b-z-index-3: 300;
  --b-z-index-4: 400;
  --b-z-index-hp-action: 400;
  --b-z-index-5: 500;
  --b-z-index-6: 600;
  --b-z-index-modal: 600;
  --b-z-index-hp-action-modal: 700;
  --b-z-index-10: 1000;
  --b-z-index-intercom-1: 1100;
  --b-z-index-intercom-2: 1200;
  --b-z-index-intercom-3: 1300;
  --b-z-index-max: 2147480000;
  --b-z-index-child-1: 10;
  --b-z-index-child-2: 20;
  --b-dp-common-transition: all .1s ease-in;
  --b-dp-menu-padding: 6px 8px;
  --b-dp-animation-duration: .1s;
  --b-dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1);
  --b-dp-transition-timing: ease-out;
  --b-dp-action-row-transition: all .2s ease-in;
  --b-dp-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --b-dp-border-radius: 4px;
  --b-dp-cell-border-radius: 4px;
  --b-dp-transition-length: 22px;
  --b-dp-transition-timing-general: .1s;
  --b-dp-button-height: 35px;
  --b-dp-month-year-row-height: 35px;
  --b-dp-month-year-row-button-size: 25px;
  --b-dp-button-icon-height: 20px;
  --b-dp-calendar-wrap-padding: 0 5px;
  --b-dp-cell-size: 35px;
  --b-dp-cell-padding: 5px;
  --b-dp-common-padding: 10px;
  --b-dp-input-icon-padding: 35px;
  --b-dp-input-padding: 6px 30px 6px 12px;
  --b-dp-input-not-clearable-padding: 12px;
  --b-dp-menu-min-width: 260px;
  --b-dp-action-buttons-padding: 1px 6px;
  --b-dp-row-margin: 5px 0;
  --b-dp-calendar-header-cell-padding: .5rem;
  --b-dp-multi-calendars-spacing: 10px;
  --b-dp-overlay-col-padding: 3px;
  --b-dp-time-inc-dec-button-size: 32px;
  --b-dp-font-size: 1rem;
  --b-dp-preview-font-size: .8rem;
  --b-dp-time-font-size: 2rem;
  --b-dp-action-button-height: 22px;
  --b-dp-action-row-padding: 8px;
  --b-dp-direction: ltr;

  --b-color-neutral-150: #e9e9ec;

  --b-bg-neutral-default: var(--b-color-neutral-0);
  --b-bg-neutral-hover: var(--b-color-dark-a10);
  --b-bg-neutral-disabled: var(--b-color-dark-a5);
  --b-bg-neutral-secondary: var(--b-color-neutral-100);
  --b-bg-neutral-surface: var(--b-color-dark-a5);
  --b-bg-neutral-surface-secondary: var(--b-color-dark-a20);
  --b-bg-neutral-elevated: var(--b-color-neutral-0);
  --b-bg-neutral-strongest: var(--b-color-primary-950);
  --b-bg-neutral-container: var(--b-color-neutral-150);
  --b-bg-neutral-container-hover: var(--b-color-light-a75);
  --b-bg-neutral-container-selected: var(--b-color-neutral-0);
  --b-bg-neutral-inverse-default: var(--b-color-neutral-900);
  --b-bg-neutral-inverse-hover: var(--b-color-dark-a80);
  --b-bg-neutral-inverse-disabled: var(--b-color-dark-a5);

  --b-bg-brand-default: var(--b-color-primary-600);
  --b-bg-brand-hover: var(--b-color-primary-700);
  --b-bg-brand-disabled: var(--b-color-dark-a5);
  --b-bg-brand-secondary: var(--b-color-primary-500);
  --b-bg-brand-tint-default: linear-gradient(var(--b-color-primary-a10), var(--b-color-primary-a10)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-brand-tint-hover: linear-gradient(var(--b-color-primary-a15), var(--b-color-primary-a15)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-brand-tint-disabled: var(--b-color-dark-a5);
  --b-bg-brand-subtlest: var(--b-color-primary-50);
  --b-bg-brand-subtle: var(--b-color-primary-100);
  --b-bg-brand-subtle-hover: var(--b-color-primary-200);
  --b-bg-brand-strong: var(--b-color-primary-800);
  --b-bg-brand-strong-hover: var(--b-color-primary-900);
  --b-bg-brand-strongest: var(--b-color-primary-950);

  --b-bg-success-default: var(--b-color-success-600);
  --b-bg-success-hover: var(--b-color-success-700);
  --b-bg-success-disabled: var(--b-color-dark-a5);
  --b-bg-success-secondary: var(--b-color-success-500);
  --b-bg-success-tint-default: linear-gradient(var(--b-color-success-a10), var(--b-color-success-a10)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-success-tint-hover: linear-gradient(var(--b-color-success-a15), var(--b-color-success-a15)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-success-tint-disabled: var(--b-color-dark-a5);
  --b-bg-success-subtlest: var(--b-color-success-50);
  --b-bg-success-subtle: var(--b-color-success-100);
  --b-bg-success-subtle-hover: var(--b-color-success-200);
  --b-bg-success-strong: var(--b-color-success-800);
  --b-bg-success-strong-hover: var(--b-color-success-900);
  --b-bg-success-strongest: var(--b-color-success-950);

  --b-bg-danger-default: var(--b-color-danger-600);
  --b-bg-danger-hover: var(--b-color-danger-700);
  --b-bg-danger-disabled: var(--b-color-dark-a5);
  --b-bg-danger-secondary: var(--b-color-danger-500);
  --b-bg-danger-tint-default: linear-gradient(var(--b-color-danger-a10), var(--b-color-danger-a10)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-danger-tint-hover: linear-gradient(var(--b-color-danger-a15), var(--b-color-danger-a15)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-danger-tint-disabled: var(--b-color-dark-a5);
  --b-bg-danger-subtlest: var(--b-color-danger-50);
  --b-bg-danger-subtle: var(--b-color-danger-100);
  --b-bg-danger-subtle-hover: var(--b-color-danger-200);
  --b-bg-danger-strong: var(--b-color-danger-800);
  --b-bg-danger-strong-hover: var(--b-color-danger-900);
  --b-bg-danger-strongest: var(--b-color-danger-950);

  --b-bg-warning-default: var(--b-color-warning-400);
  --b-bg-warning-hover: var(--b-color-warning-500);
  --b-bg-warning-disabled: var(--b-color-dark-a5);
  --b-bg-warning-secondary: var(--b-color-warning-300);
  --b-bg-warning-tint-default: linear-gradient(var(--b-color-warning-a15), var(--b-color-warning-a15)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-warning-tint-hover: linear-gradient(var(--b-color-warning-a20), var(--b-color-warning-a20)), linear-gradient(var(--b-color-neutral-0), var(--b-color-neutral-0));
  --b-bg-warning-tint-disabled: var(--b-color-dark-a5);
  --b-bg-warning-subtlest: var(--b-color-warning-50);
  --b-bg-warning-subtle: var(--b-color-warning-100);
  --b-bg-warning-subtle-hover: var(--b-color-warning-200);
  --b-bg-warning-strong: var(--b-color-warning-600);
  --b-bg-warning-strong-hover: var(--b-color-warning-900);
  --b-bg-warning-strongest: var(--b-color-warning-950);

  --b-fg-neutral-default: var(--b-color-neutral-900);
  --b-fg-neutral-hover: var(--b-color-neutral-1000);
  --b-fg-neutral-disabled: var(--b-color-neutral-400);
  --b-fg-neutral-secondary: var(--b-color-neutral-600);
  --b-fg-neutral-inverse-default: var(--b-color-neutral-50);
  --b-fg-neutral-inverse-hover: var(--b-color-neutral-0);
  --b-fg-neutral-inverse-disabled: var(--b-color-neutral-400);

  --b-fg-brand-default: var(--b-color-primary-600);
  --b-fg-brand-hover: var(--b-color-primary-700);
  --b-fg-brand-disabled: var(--b-color-neutral-400);
  --b-fg-brand-secondary: var(--b-color-primary-500);
  --b-fg-brand-inverse-default: var(--b-color-neutral-0);
  --b-fg-brand-inverse-hover: var(--b-color-neutral-200);
  --b-fg-brand-inverse-disabled: var(--b-color-neutral-400);
  --b-fg-brand-strong: var(--b-color-primary-800);

  --b-fg-success-default: var(--b-color-success-600);
  --b-fg-success-hover: var(--b-color-success-700);
  --b-fg-success-disabled: var(--b-color-neutral-400);
  --b-fg-success-secondary: var(--b-color-success-500);
  --b-fg-success-inverse-default: var(--b-color-neutral-0);
  --b-fg-success-inverse-hover: var(--b-color-neutral-200);
  --b-fg-success-inverse-disabled: var(--b-color-neutral-400);
  --b-fg-success-strong: var(--b-color-success-800);

  --b-fg-danger-default: var(--b-color-danger-600);
  --b-fg-danger-hover: var(--b-color-danger-700);
  --b-fg-danger-disabled: var(--b-color-neutral-400);
  --b-fg-danger-secondary: var(--b-color-danger-500);
  --b-fg-danger-inverse-default: var(--b-color-neutral-0);
  --b-fg-danger-inverse-hover: var(--b-color-neutral-200);
  --b-fg-danger-inverse-disabled: var(--b-color-neutral-400);
  --b-fg-danger-strong: var(--b-color-danger-800);

  --b-fg-warning-default: var(--b-color-warning-700);
  --b-fg-warning-hover: var(--b-color-warning-800);
  --b-fg-warning-disabled: var(--b-color-neutral-400);
  --b-fg-warning-secondary: var(--b-color-warning-500);
  --b-fg-warning-inverse-default: var(--b-color-neutral-800);
  --b-fg-warning-inverse-hover: var(--b-color-neutral-1000);
  --b-fg-warning-inverse-disabled: var(--b-color-neutral-400);
  --b-fg-warning-strong: var(--b-color-warning-900);

  --b-stroke-strong: var(--b-color-neutral-950);
  --b-stroke-strong-inverse: var(--b-color-neutral-50);
  --b-stroke-default: var(--b-color-dark-a10);
  --b-stroke-default-inverse: var(--b-color-light-a10);
  --b-stroke-subtle: var(--b-color-dark-a5);
  --b-stroke-brand: var(--b-color-primary-500);
  --b-stroke-danger: var(--b-color-danger-500);
  --b-stroke-success: var(--b-color-success-500);
  --b-stroke-warning: var(--b-color-warning-500);
  --b-stroke-neutral-mid: var(--b-color-neutral-300);

  --b-shadow-1-bottom: 0 2px 6px 0 var(--b-color-dark-a10);
  --b-shadow-2-bottom: 0 8px 24px 0 var(--b-color-dark-a15);
  --b-shadow-3-bottom: 0 8px 28px 0 var(--b-color-dark-a25);
  --b-shadow-1-top: 0 -2px 6px 0 var(--b-color-dark-a10);
  --b-shadow-2-top: 0 -8px 24px 0 var(--b-color-dark-a15);
  --b-shadow-3-top: 0 -8px 28px 0 var(--b-color-dark-a25);

  --b-skeleton-gradient-start-end: var(--b-color-light-a0);
  --b-skeleton-gradient-middle: var(--b-color-light-a75);

  --b-button-contain-primary-color: var(--b-fg-brand-inverse-default);
  --b-button-contain-primary-bg: var(--b-bg-brand-default);
  --b-button-contain-primary-border: 0 0 0 1px transparent;
  --b-button-contain-primary-color-hover: var(--b-fg-brand-inverse-default);
  --b-button-contain-primary-bg-hover: var(--b-bg-brand-hover);
  --b-button-contain-primary-border-hover: 0 0 0 1px transparent;
  --b-button-contain-primary-color-disabled: var(--b-fg-brand-inverse-disabled);
  --b-button-contain-primary-bg-disabled: var(--b-bg-brand-disabled);
  --b-button-contain-primary-border-disabled: 0 0 0 1px transparent;
  --b-button-contain-neutral-color: var(--b-fg-neutral-inverse-default);
  --b-button-contain-neutral-bg: var(--b-bg-neutral-inverse-default);
  --b-button-contain-neutral-border: 0 0 0 1px transparent;
  --b-button-contain-neutral-color-hover: var(--b-fg-neutral-inverse-hover);
  --b-button-contain-neutral-bg-hover: var(--b-bg-neutral-inverse-hover);
  --b-button-contain-neutral-border-hover: 0 0 0 1px transparent;
  --b-button-contain-neutral-color-disabled: var(--b-fg-neutral-inverse-disabled);
  --b-button-contain-neutral-bg-disabled: var(--b-bg-neutral-inverse-disabled);
  --b-button-contain-neutral-border-disabled: 0 0 0 1px transparent;
  --b-button-contain-danger-color: var(--b-fg-danger-inverse-default);
  --b-button-contain-danger-bg: var(--b-bg-danger-default);
  --b-button-contain-danger-border: 0 0 0 1px transparent;
  --b-button-contain-danger-color-hover: var(--b-fg-danger-inverse-default);
  --b-button-contain-danger-bg-hover: var(--b-bg-danger-hover);
  --b-button-contain-danger-border-hover: 0 0 0 1px transparent;
  --b-button-contain-danger-color-disabled: var(--b-fg-danger-inverse-disabled);
  --b-button-contain-danger-bg-disabled: var(--b-bg-danger-disabled);
  --b-button-contain-danger-border-disabled: 0 0 0 1px transparent;

  --b-button-outline-primary-color: var(--b-fg-brand-default);
  --b-button-outline-primary-bg: var(--b-bg-neutral-default);
  --b-button-outline-primary-border: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-primary-color-hover: var(--b-fg-brand-default);
  --b-button-outline-primary-bg-hover: var(--b-bg-brand-tint-default);
  --b-button-outline-primary-border-hover: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-primary-color-disabled: var(--b-fg-brand-disabled);
  --b-button-outline-primary-bg-disabled: transparent;
  --b-button-outline-primary-border-disabled: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-neutral-color: var(--b-fg-neutral-default);
  --b-button-outline-neutral-bg: var(--b-bg-neutral-default);
  --b-button-outline-neutral-border: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-neutral-color-hover: var(--b-fg-neutral-hover);
  --b-button-outline-neutral-bg-hover: var(--b-bg-neutral-hover);
  --b-button-outline-neutral-border-hover: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-neutral-color-disabled: var(--b-fg-neutral-disabled);
  --b-button-outline-neutral-bg-disabled: transparent;
  --b-button-outline-neutral-border-disabled: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-danger-color: var(--b-fg-danger-default);
  --b-button-outline-danger-bg: var(--b-bg-neutral-default);
  --b-button-outline-danger-border: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-danger-color-hover: var(--b-fg-danger-default);
  --b-button-outline-danger-bg-hover: var(--b-bg-danger-tint-default);
  --b-button-outline-danger-border-hover: 0 0 0 1px var(--b-stroke-default);
  --b-button-outline-danger-color-disabled: var(--b-fg-danger-disabled);
  --b-button-outline-danger-bg-disabled: var(--b-bg-neutral-default);
  --b-button-outline-danger-border-disabled: 0 0 0 1px var(--b-stroke-default);

  --b-button-text-primary-color: var(--b-fg-brand-default);
  --b-button-text-primary-bg: transparent;
  --b-button-text-primary-border: 0 0 0 1px transparent;
  --b-button-text-primary-color-hover: var(--b-fg-brand-default);
  --b-button-text-primary-bg-hover: var(--b-bg-brand-tint-default);
  --b-button-text-primary-border-hover: 0 0 0 1px transparent;
  --b-button-text-primary-color-disabled: var(--b-fg-brand-disabled);
  --b-button-text-primary-bg-disabled: transparent;
  --b-button-text-primary-border-disabled: 0 0 0 1px transparent;
  --b-button-text-neutral-color: var(--b-fg-neutral-default);
  --b-button-text-neutral-bg: transparent;
  --b-button-text-neutral-border: 0 0 0 1px transparent;
  --b-button-text-neutral-color-hover: var(--b-fg-neutral-hover);
  --b-button-text-neutral-bg-hover: var(--b-bg-neutral-hover);
  --b-button-text-neutral-border-hover: 0 0 0 1px transparent;
  --b-button-text-neutral-color-disabled: var(--b-fg-neutral-disabled);
  --b-button-text-neutral-bg-disabled: transparent;
  --b-button-text-neutral-border-disabled: 0 0 0 1px transparent;
  --b-button-text-danger-color: var(--b-fg-danger-default);
  --b-button-text-danger-bg: transparent;
  --b-button-text-danger-border: 0 0 0 1px transparent;
  --b-button-text-danger-color-hover: var(--b-fg-danger-default);
  --b-button-text-danger-bg-hover: var(--b-bg-danger-tint-default);
  --b-button-text-danger-border-hover: 0 0 0 1px transparent;
  --b-button-text-danger-color-disabled: var(--b-fg-danger-disabled);
  --b-button-text-danger-bg-disabled: transparent;
  --b-button-text-danger-border-disabled: 0 0 0 1px transparent;

  --b-border-background-color: var(--b-bg-neutral-default);
  --b-border-border-color: var(--b-stroke-default);
  --b-border-disabled-background-color: var(--b-bg-neutral-disabled);
  --b-border-disabled-color: var(--b-stroke-default);
  --b-border-error-color: var(--b-stroke-danger);
  --b-border-focus-color: var(--b-stroke-brand);

  --b-input-color: var(--b-fg-neutral-default);
  --b-input-disabled-color: var(--b-fg-neutral-disabled);
  --b-input-placeholder-color: var(--b-fg-neutral-secondary);
  --b-input-font-size: var(--b-font-size-input);
  --b-input-font-weight: var(--b-font-weight-input);
  --b-input-line-height: var(--b-line-height-input);
  --b-input-letter-spacing: var(--b-letter-spacing-input);
  --b-input-label-color: var(--b-fg-neutral-default);
  --b-input-label-optional-color: var(--b-fg-neutral-secondary);
  --b-input-helper-text-color: var(--b-fg-neutral-secondary);
  --b-input-helper-text-error-color: var(--b-fg-danger-default);

  --b-input-area-color: var(--b-fg-neutral-default);
  --b-input-area-disabled-color: var(--b-fg-neutral-disabled);
  --b-input-area-placeholder-color: var(--b-fg-neutral-secondary);
  --b-input-area-font-size: var(--b-font-size-input);
  --b-input-area-font-weight: var(--b-font-weight-input);
  --b-input-area-line-height: var(--b-line-height-input);
  --b-input-area-letter-spacing: var(--b-letter-spacing-input);
  --b-input-area-label-color: var(--b-fg-neutral-default);
  --b-input-area-label-optional-color: var(--b-fg-neutral-secondary);
  --b-input-area-helper-text-color: var(--b-fg-neutral-secondary);
  --b-input-area-helper-text-error-color: var(--b-fg-danger-default);

  --b-label-contain-primary-bg: var(--b-bg-brand-tint-default);
  --b-label-contain-primary-color: var(--b-fg-brand-default);
  --b-label-contain-primary-outline: none;
  --b-label-contain-success-bg: var(--b-bg-success-tint-default);
  --b-label-contain-success-color: var(--b-fg-success-default);
  --b-label-contain-success-outline: none;
  --b-label-contain-warning-bg: var(--b-bg-warning-tint-default);
  --b-label-contain-warning-color: var(--b-fg-warning-default);
  --b-label-contain-warning-outline: none;
  --b-label-contain-danger-bg: var(--b-bg-danger-tint-default);
  --b-label-contain-danger-color: var(--b-fg-danger-default);
  --b-label-contain-danger-outline: none;
  --b-label-contain-gray-bg: var(--b-fg-neutral-secondary);
  --b-label-contain-gray-color: var(--b-fg-neutral-inverse-default);
  --b-label-contain-gray-outline: none;
  --b-label-contain-grayLight-bg: var(--b-bg-neutral-surface);
  --b-label-contain-grayLight-color: var(--b-fg-neutral-secondary);
  --b-label-contain-grayLight-outline: none;
  --b-label-outline-primary-bg: transparent;
  --b-label-outline-primary-color: var(--b-fg-brand-default);
  --b-label-outline-primary-outline: inset 0 0 0 1px var(--b-fg-brand-default);
  --b-label-outline-success-bg: transparent;
  --b-label-outline-success-color: var(--b-fg-success-default);
  --b-label-outline-success-outline: inset 0 0 0 1px var(--b-fg-success-default);
  --b-label-outline-warning-bg: transparent;
  --b-label-outline-warning-color: var(--b-fg-warning-default);
  --b-label-outline-warning-outline: inset 0 0 0 1px var(--b-fg-warning-default);
  --b-label-outline-danger-bg: transparent;
  --b-label-outline-danger-color: var(--b-fg-danger-default);
  --b-label-outline-danger-outline: inset 0 0 0 1px var(--b-fg-danger-default);
  --b-label-outline-gray-bg: transparent;
  --b-label-outline-gray-color: var(--b-fg-neutral-secondary);
  --b-label-outline-gray-outline: inset 0 0 0 1px var(--b-fg-neutral-secondary);
  --b-label-outline-grayLight-bg: transparent;
  --b-label-outline-grayLight-color: var(--b-fg-neutral-secondary);
  --b-label-outline-grayLight-outline: inset 0 0 0 1px var(--b-stroke-default);

  --b-checkbox-primary-bg: var(--b-fg-brand-default);
  --b-checkbox-primary-bg-hover: var(--b-fg-brand-hover);
  --b-checkbox-primary-border: var(--b-fg-brand-default);
  --b-checkbox-primary-border-hover: var(--b-fg-brand-hover);
  --b-checkbox-primary-checkmark: var(--b-bg-neutral-default);
  --b-checkbox-disabled-bg: var(--b-bg-neutral-disabled);
  --b-checkbox-disabled-border: var(--b-stroke-default);
  --b-checkbox-disabled-checkmark: var(--b-fg-neutral-disabled);

  --b-switch-color: var(--b-bg-brand-default);
  --b-switch-color-off: var(--b-bg-neutral-surface-secondary);
  --b-switch-color-disabled: var(--b-bg-neutral-surface-secondary);
  --b-switch-bubble: var(--b-color-neutral-0);
  --b-switch-bubble-disabled: var(--b-fg-brand-inverse-disabled);

  --b-card-bg: var(--b-bg-neutral-default);
  --b-card-border-color: var(--b-stroke-default);
  --b-card-header-bg: var(--b-bg-neutral-default);
  --b-card-header-border-color: var(--b-stroke-default);
  --b-card-header-divider-color: var(--b-stroke-default);
  --b-card-border-radius: var(--b-border-radius-lg);
  --b-card-padding: var(--b-spacing-sm) var(--b-spacing-md);

  --b-circle-loader-color: var(--b-fg-brand-default);
  --b-circle-loader-border-color: var(--b-color-primary-100);

  --b-dialog-bg: var(--b-bg-neutral-default);
  --b-dialog-backdrop-bg: var(--b-color-dark-a75);
  --b-dialog-border-color: var(--b-stroke-subtle);
  --b-dialog-shadow: var(--b-shadow-3-bottom);
  --b-dialog-stroke-color: var(--b-stroke-default);

  --b-segmented-control-bg: var(--b-bg-neutral-surface);
  --b-segmented-control-segment-color: var(--b-fg-neutral-secondary);
  --b-segmented-control-segment-hover-color: var(--b-fg-neutral-default);
  --b-segmented-control-segment-active-bg: var(--b-color-neutral-0);
  --b-segmented-control-segment-active-color: var(--b-color-neutral-950);
  --b-segmented-control-segment-active-shadow: var(--b-shadow-1-bottom),
    inset 0 0 0 1px var(--b-stroke-subtle);
  --b-segmented-control-segment-focus-shadow: 0 0 0 2px var(--b-stroke-brand);

  --b-tabs-color: var(--b-fg-neutral-secondary);
  --b-tabs-color-active: var(--b-fg-brand-default);
  --b-tabs-indicator-bg: var(--b-stroke-brand);
  --b-tabs-tab-hover-bg: var(--b-bg-neutral-hover);
  --b-tabs-focus-visible-outline: 2px solid var(--b-stroke-brand);

  --b-toast-bg-color: var(--b-bg-neutral-inverse-default);
  --b-toast-text-color: var(--b-fg-neutral-inverse-default);
  --b-toast-divider-color: var(--b-stroke-default-inverse);
  --b-toast-shadow: var(--b-shadow-2-bottom);
}

@media (max-width: 768px) {
  :root {
    --b-font-size-title-special: 48px;
    --b-line-height-title-special: 56px;
    --b-font-weight-title-special: 399;
    --b-letter-spacing-title-special: -.005em;
    --b-font-size-title-0: 48px;
    --b-line-height-title-0: 56px;
    --b-font-weight-title-0: 399;
    --b-letter-spacing-title-0: -.005em;
    --b-font-size-title-1: 36px;
    --b-line-height-title-1: 44px;
    --b-font-weight-title-1: 399;
    --b-letter-spacing-title-1: -.005em;
    --b-font-size-title-2: 32px;
    --b-line-height-title-2: 40px;
    --b-font-weight-title-2: 399;
    --b-letter-spacing-title-2: -.005em;
    --b-font-size-title-3: 24px;
    --b-line-height-title-3: 32px;
    --b-font-weight-title-3: 399;
    --b-letter-spacing-title-3: -.005em;
    --b-font-size-title-special-bold: 48px;
    --b-line-height-title-special-bold: 56px;
    --b-font-size-title-0-bold: 48px;
    --b-line-height-title-0-bold: 56px;
    --b-font-size-title-1-bold: 36px;
    --b-line-height-title-1-bold: 44px;
    --b-font-size-title-2-bold: 32px;
    --b-line-height-title-2-bold: 40px;
    --b-font-size-title-3-bold: 24px;
    --b-line-height-title-3-bold: 32px;
    --b-font-size-title-special-medium: 48px;
    --b-line-height-title-special-medium: 56px;
    --b-font-size-title-0-medium: 48px;
    --b-line-height-title-0-medium: 56px;
    --b-font-size-title-1-medium: 36px;
    --b-line-height-title-1-medium: 44px;
    --b-font-size-title-2-medium: 32px;
    --b-line-height-title-2-medium: 40px;
    --b-font-size-title-3-medium: 24px;
    --b-line-height-title-3-medium: 32px;
    --b-font-size-heading-1: 20px;
    --b-line-height-heading-1: 28px;
    --b-font-size-heading-1-regular: 20px;
    --b-line-height-heading-1-regular: 28px;
    --b-font-size-heading-1-medium: 20px;
    --b-line-height-heading-1-medium: 28px;
    --b-font-size-heading-2: 18px;
    --b-line-height-heading-2: 26px;
    --b-font-size-heading-2-regular: 18px;
    --b-line-height-heading-2-regular: 26px;
    --b-font-size-heading-2-medium: 18px;
    --b-line-height-heading-2-medium: 26px;
  }
}
